<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="row heade d-flex justify-content-center ">
                    Login
                </div>
            </div>
            <div class="row">
                <div class="boxinput">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                </div>
            </div>
            <br>

            <div class="row">
                <button type="button" class="btn btn-primary">Primary</button>

            </div>
            <br>
            <div class="row">
                <a routerLink="/Inscri"><p>You Don't have account?</p></a>
            </div>
            <div class="row ">
                <div class="d-flex justify-content-evenly">
                    <div class="p-2"> <a href="https://www.facebook.com"> <i class='bx bxl-facebook-circle'></i></a></div>
                    <div class="p-2"> <a href="https://mail.google.com">  <i class='bx bxl-gmail'></i></a></div>
                    <div class="p-2"><a href="https://fr.linkedin.com"><i class='bx bxl-linkedin-square'></i></a></div>
                    <div class="p-2"><a href="https://twitter.com"><i class='bx bxl-twitter'></i></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 " >
            <div class="image1">
                <img src="../../assets/image/multi-ethnic-group-of-young-people-studying-together-on-white.jpg" alt="">
            </div>
                
          

        </div>
    </div>


