
.heade{
    font-size: 100px;
    margin-bottom: 30%;
    margin-top: 40%;
}
.btn-primary{
    margin-top: 10%;
    background-color: #8A5082;
    box-shadow: #8A5082;
    border: #8A5082;
}


.btn-primary:focus{
    box-shadow: #8A5082;
    border: 1px solid #8A5082;
        -webkit-box-shadow: 0px 0px 5px #8A5082;
        -moz-box-shadow: 0px 0px 5px #8A5082;
        box-shadow: 0px 0px 5px #8A5082;
}
.image1 img{
    width: 840px;
    height: 620px;
    margin-right: -5%;
}