<nav class="navbar navbar-light co">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <div class="d-flex" style="margin-right: 30px;">
        <div class="row">
            <div class="col-md-4">
                <img src="https://www.pourquoidocteur.fr/media/article/thunbs/uploded_anarci-1623243208.jpeg" alt="" srcset="" class="img-icon">
            </div>
            <div class="col-md-6" style="color: white;">
                dali kbaier
            </div>
            <div class="col-md-2">
                <span><i class='bx bx-power-off' style="color: white;font-size: 25px;"></i></span>
            </div>
        </div>
        
      </div>
    </div>
  </nav>