<div class="container">
    <div class="content"><br>
        <br>
        <button class="btn btn2"><i class='bx bxs-home'></i></button> &nbsp; <b>Dashboared</b>
        <br>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="box">

                    <mat-tab-group>
                        <mat-tab label="Events">
                            <br>

                            <br>
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Articals">
                            <br>

                            <br>
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Members">
                            <br>

                            <br>
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    
                </div>
                
            </div>
            <div class="col-md-4">
                
                <div class="row">
                    <div class="col box">
                        aaaa
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col box">
                        aaa
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>