<div class="container-fluid">
    <br>
    

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-2"> </div>
                <div class="col">dali kbaier</div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <a routerLink="">Events</a>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2">
                    <a routerLink="">Associations</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="article">
                <img src="https://www.pourquoidocteur.fr/media/article/thunbs/uploded_anarci-1623243208.jpeg" alt="" class="icon">
                zzz
                <div class="row">
                    <div class="col">
                        <br><br>
                        dazdazdazdazdaz
                    </div>
    
                </div>
                <div class="row">
                    <img src="https://www.pourquoidocteur.fr/media/article/thunbs/uploded_anarci-1623243208.jpeg" alt="" >
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1">
                        <img src="https://www.pourquoidocteur.fr/media/article/thunbs/uploded_anarci-1623243208.jpeg" alt="" class="icon">
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" class="form-control" placeholder="Comment" style="background-color:rgb(233, 233, 233)">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col box">
                    event
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col box">
                    event
                </div>
            </div>
        </div>
    </div>
    
</div>