
    

    <div class="row">
        <div class="col-md-4" >
            <img src="../../assets/image/team-sport-hands-up-cheerful-smiling-happy-exercise-together-lifestyle-friends-love-relationship-unity-people-fan-hands-winners.jpg" style="height: 650px; width:350px;" alt="">

        </div> 
        <div class="col-md-7" style="margin-left:-5% ; margin-top: 3%; " >
            
            <mat-stepper  #stepper>
                
                <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                    <form [formGroup]="secondFormGroup">
                        <p style="color:#8A5082;font-size:25px;">Founder Registration</p>
                        <ng-template matStepLabel>Founder Registration</ng-template>

                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill">
                              <mat-label>First Name</mat-label>
                              <input matInput type="text" placeholder="First Name"  formControlName="firstName" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput  type="text" placeholder="Last Name" formControlName="lastName" required>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill">
                              <mat-label>Phone Number</mat-label>
                              <input matInput type="text" placeholder="First Name"  formControlName="phone" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput  type="email" placeholder="Email" formControlName="email" required>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill">
                              <mat-label>NCIN</mat-label>
                              <input matInput type="text" placeholder="NCIN"  formControlName="cin" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Location</mat-label>
                                <input matInput  type="text" placeholder="adresse" formControlName="adresse" required>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill">
                              <mat-label>Password</mat-label>
                              <input matInput type="text" placeholder="Password"  formControlName="password" required>
                              <mat-error  ></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput  type="text" placeholder="Confirm Password"  required>
                              </mat-form-field>
                        </div>
                    </div>
                      
                      <div class="row">
                        <section class="example-section">
                            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                          </section>
                     </div>
                     <div>
                        
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <button  type="button" class="btn btn-secondary" matStepperNext  >Next</button>
                          </div>
                          
                      </div>
                      <br>
                      <div class="row">
                            <h3>Alerady have an account? <a routerLink="/Login">Login</a></h3>
                      </div>
                    </form>
                  </mat-step>



            <mat-step [stepControl]="secondFormGroup">
                <p style="color:#8A5082;font-size:25px;">Association Registration</p>
                <form [formGroup]="secondFormGroup" >
                  <ng-template matStepLabel>Association Registration</ng-template>
                    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill">
                              <mat-label>Name association</mat-label>
                              <input matInput type="text" placeholder=" Name association"  formControlName="association" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>email Association</mat-label>
                                <input matInput  type="email" placeholder="email Association " formControlName="emailAssociation" required>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                      
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile01" formControlName="logo">
                          </div>
                    </div>
                  </div>
                        
                 <div class="row">
                  <mat-form-field appearance="fill">
                      <mat-label>Description</mat-label>
                      <input matInput type="text"  placeholder="Description"  formControlName="description" required>
                    </mat-form-field>
                 </div>
                
                 <div class="row">
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                      </section>
                 </div>
                 
                  <div class="row">
                      <div class="col-md-6">
                        <button  type="button" class="btn btn-secondary" matStepperNext (click)="add()">Next</button>
                      </div>
                      <div class="col-md-6">
                        <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
                      </div>
                      
                        
                  </div>
                  <div class="row">
                        <h3>Alerady have an account? <a routerLink="/Login">Login</a></h3>
                    </div>
                
                </form>

              </mat-step>
        
    
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You Association Registration is Added successfuly</p>
      <p>We will send you an Email when you are accepted</p>
    </mat-step>
</mat-stepper>
</div>
 
</div>

