<app-nav></app-nav>

<div class="container">
    <div class="content"><br>
        <br>
        <button class="btn2"><i class='bx bx-list-ul' ></i></button> &nbsp; <b>Liste Association</b>
        <br>
        <br>
        <div class="box">
            <h2>Liste association</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Location</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td scope="col">Name</td>
                        <td scope="col">Email</td>
                        <td scope="col">Location</td>
                        <td scope="col">Phone</td>
                        <td scope="col">Status</td>
                        <td scope="col">
                            <button class="btn btn1" ><i class='bx bx-refresh' style="color: rgb(46, 2, 12)"></i></button>
                            <button class="btn btn1" ><i class='bx bx-block' style="color: rgb(201, 0, 0)"></i></button>
                        </td>
                        <td scope="col">
                            <button class="btn btn-primary" style="background-color:#8BBDFF">View</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>