<div class="container">
    
        <br>

        <br>
        <div class="row">
            <div class="col box">
                <div class="row">
                    <div class="col">
                        <img src="https://www.pourquoidocteur.fr/media/article/thunbs/uploded_anarci-1623243208.jpeg" alt="" class="img">
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <h1>Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <button class="btn btn-primary">Enter</button>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-outline-primary"> Follow</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <br>
            <div class="col-md-6 box">
                Information
            </div>

            <div class="col-md-4 box">
                events
            </div>
        </div>
 
</div>