<app-nav></app-nav>
<div class="container">
    <div class="content"><br>
        <br>
        <button class="btn"><i class='bx bxs-home-alt-2'></i></button> &nbsp; <b>Dashboared</b>$
        <br>
        <br>
        <div class="row">
            <div class="col-md c1">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Total Association</h2>
                    </div>

                    <div class="col-md-4">
                        <h1><i class='bx bx-stats'></i></h1>
                    </div>
                </div>
            </div>
            <div class="col-md c2">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Total Events</h2>

                    </div>
                    <div class="col-md-4">
                        <h1><i class='bx bxs-calendar-event'></i></h1>
                    </div>
                </div>
            </div>
            <div class="col-md c3">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Total Users</h2>

                    </div>
                    <div class="col-md-4">
                        <h1><i class='bx bxs-user-detail'></i></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="ch1">
                    ccc
                </div>
            </div>
            <div class="col-md-4">
                <div class="ch1">
                    ccc
                </div>
            </div>
        </div>
    </div>
    <br>

</div>